.login_geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 12%;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(30, 1, 85);
    max-width: 40%;
    margin-left: 29%;
    padding: 3%;
    border-radius: 500px;
    border-style: groove;
    border-width: 4px;
    transition: 1s;
}

.login_geral:hover{
    box-shadow: 3px 1px 40px 1px rgb(2, 40, 255);
    transition: 2s;
}

.usuario, .senha{
    display: flex;
    flex-direction: column;
}


.confirmacao{
    width: 70%;
    border-radius: 10px;
}
.confirmacao:hover{
    background-color: rgb(2, 40, 255);
    color: whitesmoke;
    transition: 1s;
}




